body {
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*--------------HEADER---------------*/
.logo {
  font-family: 'Raleway';

  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);

  letter-spacing: 0.03em;

  color: #2196f3;
}
.logo-header {
  color: #212121;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.nav-contacts-item {
}
.nav-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: #757575;
}
.nav-contacts-link:hover,
.nav-contacts-link:focus {
  color: #2196f3;
}
/*--------------HEADER---------------*/

/*--------------MAIN---------------*/
.hero {
  background-color: #2f303a;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btm {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  cursor: pointer;
  color: #ffffff;
  border-color: transparent;
}
.hero-btm:hover,
.hero-btm:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.features {
}
.features-item {
}
.features-item-h {
  ont-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.features-item-p {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: #757575;
}
.activitys,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item-h {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-item-p {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16) 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

/*--------------footer---------------*/
footer {
  background-color: #2f303a;
}

.logo-footer {
  color: #ffffff;
}
